@page
@model ForumForGaming.Pages.Admin.AdminChangeModel
@{
}

@if (Model.MainCategory != null)
{
    <div>
        <form method="post">
            <label asp-for="MainCategory.Name"></label>

            <input asp-for="MainCategory.Name" value="@Model.MainCategory.Name" />
            <br />
            <label asp-for="MainCategory.Description"></label>
            <br />
            <input asp-for="MainCategory.Description" value="@Model.MainCategory.Description"/>
            <br />
            <input type="submit" name="change" class="btn btn-success" value="Change Maincategory" />
        </form>
    </div>
}
else if (Model.ChangeItem == "Main")
{
    @foreach(var category in Model.MainCategories)
    {
        <label>@category.Name</label>
        <a asp-route-mainCategoryId="@category.Id">Change Category</a>
    }
}
else if (Model.ChangeItem == "Sub")
{
    <form method="post" enctype="multipart/form-data">
        <label asp-for="SubCategory.Name"></label>
        <br />
        <input asp-for="SubCategory.Name" />
        <br />
        <select asp-for="SubCategory.MainCategoryId" name="SubCategory.MainCategoryId">
            <option value="">Select a category</option>
            @foreach (var category in Model.MainCategories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <br />
        <input type="submit" name="change" class="btn btn-success" value="Change SubCategory" />
    </form>
}
else
{
    <a asp-route-changeItem="Main"><label>Change a Main Category</label></a>
    <a asp-route-changeItem="Sub"><label>Change a Sub Category</label></a>
}