@page
@using Models;
@inject UserManager<ApplicationUser> UserManager
@model ForumForGaming.Pages.Admin.AdminReportedModel
@{
}

<body class="admin-background">
    @if (Model.ReportedCategory == "Comment")
    {
        <div class="card background-color">
            <h3>Reported Comments:</h3>
            <ul class="list-group list-group-flush">
                @foreach (var reported in Model.Comments)
                {
                    if (reported.Reported == true)
                    {
                        var commentUser = await UserManager.FindByIdAsync(reported.UserId);
                        <li class="list-group-item background-color">


                            <label>Reported Text: @reported.TextContent</label>
                            <br />
                            <label>User: @commentUser.UserName</label>
                            <br />
                            <label>Sent: @reported.CreatedDate</label>
                            <br />

                            <form method="post">
                                <input type="hidden" name="CommentId" value="@reported.Id" />
                                <input type="submit" name="reported" class="btn background-color-darker" value="Ignore" />
                                <input type="submit" name="reported" class="btn background-color-darker" value="Delete" />
                            </form>
                        </li>
                    }

                }
            </ul>
        </div>
    }
    else if (Model.ReportedCategory == "Post")
    {
        <div class="card background-color">
            <h3>Reported post:</h3>
            <ul class="list-group list-group-flush">
                @foreach (var reported in Model.Posts)
                {
                    if (reported.Reported == true)
                    {
                        var postUser = await UserManager.FindByIdAsync(reported.UserId);
                        <li class="list-group-item background-color">
                            <label>Titel: @reported.Title</label>
                            <br />
                            <label>User: @postUser.UserName</label>
                            <br />
                            <label>Created: @reported.CreatedDate</label>

                            <form method="post">
                                <input type="hidden" name="PostId" value="@reported.Id" />
                                <input type="submit" name="reported" class="btn background-color-darker" value="Ignore" />
                                <input type="submit" name="reported" class="btn background-color-darker" value="Delete" />
                            </form>
                        </li>
                    }
                }
            </ul>
        </div>
    }



    else
    {
        <a asp-route-reportedCategory="Comment" class="btn background-color-darker"><label>Reported Comments</label></a>
        <a asp-route-reportedCategory="Post" class="btn background-color-darker"><label>Reported Posts</label></a>
    }
</body>