@page
@model ForumForGaming.Pages.Admin.AdminChangeModel
@{
}
<body class="admin-background">
@if (Model.MainCategory != null)
{
    <div>
        <form method="post">
            <label asp-for="MainCategory.Title"></label>
            <br />
            <input asp-for="MainCategory.Title" value="@Model.MainCategory.Title" />
            <br />
            <label asp-for="MainCategory.Description"></label>
            <br />
            <input asp-for="MainCategory.Description" value="@Model.MainCategory.Description"/>
            <input asp-for="MainCategory.Id" type="hidden"/>
            <br />
            <label asp-for="MainCategory.Archived"></label>
            <select asp-for="MainCategory.Archived" class="form-control">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <br />
            <input type="submit" name="change" class="btn background-color-darker" value="Change Maincategory" />
        </form>
    </div>
}
else if (Model.SubCategory != null)
{
    <form method="post">
        <label asp-for="SubCategory.Name"></label>
        <br />
        <input asp-for="SubCategory.Name" value="@Model.SubCategory.Name"/>
        <br />
        <label asp-for="SubCategory.MainCategoryId"></label>
        <br />  
        <select asp-for="SubCategory.MainCategoryId">
            <option value="">Select a category</option>
            @foreach (var category in Model.MainCategories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
        <input asp-for="SubCategory.Id" type="hidden"/>
        <br />
        <label asp-for="SubCategory.Archived"></label>
        <select asp-for="SubCategory.Archived" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <br />
        <input type="submit" name="change" class="btn background-color-darker" value="Change SubCategory" />
    </form>
}

else
{
    <div class="category-container">
        @foreach (var category in Model.MainCategories)
        {
            <div class="category-group">
                <a asp-route-mainCategoryId="@category.Id" class="btn background-color-darker main-category-btn">@category.Title</a>
                <div class="subcategory-container">
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        if (category.Id == subCategory.MainCategoryId)
                        {
                            <a asp-route-subCategoryId="@subCategory.Id" class="btn background-color-darker sub-category-btn">@subCategory.Name</a>
                        }
                    }
                </div>
            </div>
        }
    </div>
    }
</body>