@page
@using Models;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home page";
    var user = await UserManager.GetUserAsync(User);
}

@if (Model.Post != null)
{
    <div class="">
        <div class="card-header">
            <h2>@Model.Post.Title</h2>
        </div>
        @foreach (var comment in Model.Comments)
        {
            <div class="">
                @if (comment.PostId == Model.Post.Id)
                {
                    var replaytext = Model.Comments.FirstOrDefault(c => c.Id == comment.ReplyToId);
                    <div class="comment-text">
                        @if (replaytext != null)
                        {
                            <div class="reply-to">@replaytext.TextContent</div>
                        }
                        @comment.TextContent
                    </div>
                    <br />
                    @if (comment.TextContent == "Comment has been deleted by user!" || comment.TextContent == "Comment has been deleted!")
                    {
                        <label>Deleted User</label>
                        <label>| @comment.CreatedDate</label>
                    }
                    else
                    {
                        var commentUser = await UserManager.FindByIdAsync(comment.UserId);
                        <img class="card-img-top" src="~/profileImages/@commentUser.ProfilePicture" />
                        <label>@commentUser.UserName</label>
                        <label>| @comment.CreatedDate</label>

                        <br />

                        @if (user != null && user.Id == comment.UserId)
                        {
                            <a asp-route-deleteCommentId="@comment.Id" class="btn btn-primary">Ta bort</a>
                        }
                        @if (user != null)
                        {
                            <a asp-page="./Index" asp-route-postId="@Model.Post.Id" asp-route-replayTextId="@comment.Id" class="btn btn-primary">Reply</a>
                            <a asp-route-reportCommentId="@comment.Id" class="btn btn-primary">Report Comment</a>
                        }
                    }
                }
            </div>
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="CommentBox">
                <form method="post" enctype="multipart/form-data">
                    <label asp-for="Comment.TextContent">Write your comment here</label>
                    <br />
                    <input asp-for="Comment.TextContent" />
                    <input type="hidden" name="postId" value="@Model.Post.Id" />
                    <input type="hidden" name="replyToId" value="@Model.ReplayId" />
                    <input type="submit" name="add" class="btn btn-success" value="Post Comment" />
                </form>
            </div>
        }
    </div>
}
else if (Model.SubCategory != null)
{
    <div class="">
        <label>@Model.SubCategory.Name</label>
        <form method="post" enctype="multipart/form-data">
            <label asp-for="Post.Title"></label>
            <br />
            <input asp-for="Post.Title" />
            <input type="hidden" name="subCategoryId" value="@Model.SubCategory.Id" />
            <input type="submit" name="add" class="btn btn-success" value="Create Post" />
        </form>
        @foreach (var post in Model.Posts)
        {
            <div class="">
                @if (post.SubCategoryId == Model.SubCategory.Id)
                {
                    <a asp-route-postId="@post.Id"><label>@post.Title</label></a>
                    var postUser = await UserManager.FindByIdAsync(post.UserId);
                    <label> | @postUser.UserName</label>
                    <label> | Created on: @post.CreatedDate</label>
                }
                @if (user != null && user.Id == post.UserId && post.SubCategoryId == Model.SubCategory.Id)
                {
                    <a asp-route-deletePostId="@post.Id" class="btn btn-primary">Ta bort</a>
                }
                @if (user != null && post.SubCategoryId == Model.SubCategory.Id)
                {
                    <a asp-route-reportPostId="@post.Id" class="btn btn-primary">Report Post</a>
                }
            </div>
        }
    </div>
}
else
{
    @foreach (var category in Model.MainCategories)
    {
        if (category.Archived != true)
        {
            <div class="card">
                <div class="card-header">
                    <h2>@category.Title</h2>
                    <br />
                    <label>@category.Description</label>
                </div>
                @foreach (var subCategory in Model.SubCategories)
                {
                    if (subCategory.Archived != true)
                    {
                        if (@category.Id == subCategory.MainCategoryId)
                        {
                            <div class="card-body">
                                <a asp-route-subCategoryId="@subCategory.Id"><label>@subCategory.Name</label></a>
                            </div>
                        }
                    }
                }
            </div>
        }
    }
}
