@page
@model ForumForGaming.Pages.PrivateMessagesModel
@using ForumForGaming.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<body class="indexbody">
    @if (Model.PrivateMessage != null)
    {
        var sender = await UserManager.FindByIdAsync(Model.PrivateMessage.SenderId);
        var reciver = await UserManager.FindByIdAsync(Model.PrivateMessage.ReciverId);
        <div class="card background-color">

            <h2>@Model.PrivateMessage.Title</h2>
            <label> Skickar: @sender.UserName</label>
            <label class="private-bottom-border"> Mottagare: @reciver.UserName</label>
            <br />
            <label class="private-bottom-border">Skickat: @Model.PrivateMessage.Date</label>
            <br />
            <label class="private-message">@Model.PrivateMessage.TextContent</label>
        </div>
    }
    else if (Model.SendMessage)
    {
        <div class="card background-color">
            <div class="card-header">Skicka ett privat meddelande</div>
            <form method="post">
                <div class="private-send">
                    <label asp-for="PrivateMessage.Title"></label>
                    <br />
                    <input asp-for="PrivateMessage.Title" />
                    <br />
                    <br />
                    <label asp-for="PrivateMessage.TextContent"></label>
                    <br />
                    <textarea asp-for="PrivateMessage.TextContent" type="text" class="form-control limited-width-textarea" cols="70" rows="3"></textarea>
                    <br />
                    <br />
                    <label asp-for="PrivateMessage.ReciverId">To: </label>
                    <br />
                    <input asp-for="PrivateMessage.ReciverId" />
                    <br />
                    <br />

                    <input type="hidden" name="SenderId" value="@user.Id" />
                    <input type="submit" class="btn btn-success private-send-btn" value="Send Message" />
                </div>
            </form>
        </div>
    }
    else
    {


        <div class="card background-color">
            <h2>Privata meddelanden</h2>
            <div class="card-header">
                <a asp-route-sendMessage="True" class="btn background-color-darker">Create a Private Message</a>
            </div>
            <br />
            @foreach (var message in Model.PrivateMessages)
            {
                if (message.ReciverId == user.Id)
                {
                    var sender = await UserManager.FindByIdAsync(message.SenderId);

                    <div class="card-body private-bottom-border">
                        <a asp-route-PrivateMessageId="@message.Id" class="btn background-color-darker"><label class="private-title">@message.Title</label><br /><label>Från @sender.UserName Skickat: @message.Date</label></a>
                    </div>
                }
                else if (message.SenderId == user.Id)
                {
                    var reciver = await UserManager.FindByIdAsync(message.ReciverId);
                    <div class="card-body private-bottom-border">
                        <a asp-route-PrivateMessageId="@message.Id" class="btn background-color-darker"><label class="private-title">@message.Title</label><br /><label>Till @reciver.UserName Skickat: @message.Date</label></a>
                    </div>
                }
                <br />
            }
        </div>
    }
</body>